@media screen and(max-width:1015px)
{
    .offer__list-item {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
      
        /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
        display: grid;
        gap: 16px;
        grid-gap: 32px;
        margin: 0 auto;
      }
}