:root
{
    --font-dm-sans:"DM Sans", sans-serif;
    --bg-icon:#131213;
    --bg-arrow-color: rgba(0,0,07);
    --bg-icon: #131313;
    --cor-preto: #000;
    --cor-cinza: #b3b3b3;
    --cor-branco: #fff;
}